.company-bg-info{
    background-color: #fceae8;
}
.nav-bg-light{
    background-color: rgb(128, 63, 189);

}
.categories img{
    width: 100px;
}
/* .show-item img{
    width: 350px;
} */
.backpack img{
    width: 350px;
}
.panda-btn-info{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    border-radius: 8px;
    padding: 9px 25px;
    color: white;
    font-weight: bold;
    border: none;
}